<section class="split-bg-right">
  <div class="section-container">
    <div id='bio-img' class="split-bg__img">
      <div class='hobby-ticker'>
        <h3>Daniel likes:</h3>
        <ul class="hobby-list">
          <li>yoga</li>
          <li>climbing</li>
          <li>slacklining</li>
          <li>hiking</li>
          <li>longboarding</li>
          <li>running</li>
          <li>biking</li>
          <li>coding</li>
          <li>math</li>
          <li>drawing</li>
          <li>coffee</li>
          <li>being awesome</li>
        </ul>
      </div>
    </div>
    <div class="split-bg__article">
      <article>
        <h1>A bit about myself</h1>
        <p>Hi, I'm Daniel and I'm a front-end developer. I've always been a creative person who loved to dream up and create new things. That's why I think I felt such a strong pull towards development when I was first introduced to it in a coding game. I realized that through coding the possibilities for creation were seemingly endless, and the tools to learn how are readily available. I love to learn new technologies and apply them to the projects that I am working on. The best part is that all I need to continue learning more is my laptop and an internet connection. I really look forward to seeing and being a part of the future of technology, everything is changing fast and that's exciting.</p>
      </article>
    </div>
  </div>
</section>
