<section class="portfolio">
  <div class="section-container">
    <div class="section-content">
      <article class='intro-article'>
      <h1>Contact</h1>
      <p>If you would like to contact me, please fill out the form below or email me at <a>danielstephany85@gmail.com</a></p>
    </article>
    <div class='form-container'>
      <form action="">
        <div class="form-item">
          <label for="name">Full Name</label>
          <input type="text" name="name" id="name">
        </div>
        <div class="form-item">
          <label for="email">Email Address</label>
          <input type="text" name="email" id="email">
        </div>
        <div class="form-item">
          <label for="message">Your Message</label>
          <textarea name="message" id="message" rows="8"></textarea>
        </div>
        <div class="btn-container">
          <a href='https://www.google.com' class=btn>Send</a>
        </div>
      </form>
    </div>
    </div>
  </div>
</section>
