<section class="portfolio">
  <div class="section-container">
    <article class='intro-article'>
      <h1>The portfolio</h1>
      <p>I have worked on quite a few projects since I started web development a few years ago, here are some that I have selected to share. Some of these are client work and some are just personal projects created while on the journy to learn something new.</p>
    </article>
    <ul class="expanding-cards">
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img src="./assets/img/placeholder.svg" alt="icon">
              <span>item 1</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                <p>Messenger bag vaporware chicharrones selvage pour-over, unicorn hexagon edison bulb tattooed. Chia forage 90's green juice live-edge thundercats godard, wayfarers waistcoat tote bag beard shabby chic taxidermy. Readymade cardigan intelligentsia, tilde bushwick salvia shabby chic. Venmo gluten-free wayfarers, VHS slow-carb godard seitan sriracha readymade. </p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img  src="./assets/img/placeholder.svg" alt="icon">
              <span>item 2</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                <p>Messenger bag vaporware chicharrones selvage pour-over, unicorn hexagon edison bulb tattooed. Chia forage 90's green juice live-edge thundercats godard, wayfarers waistcoat tote bag beard shabby chic taxidermy. Readymade cardigan intelligentsia, tilde bushwick salvia shabby chic.</p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img src="./assets/img/placeholder.svg" alt="icon">
              <span>item 3</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                  <img src="./assets/img/placeholder.svg" alt="icon">
                  <p>Chia forage 90's green juice live-edge thundercats godard, wayfarers waistcoat tote bag beard shabby chic taxidermy. Readymade cardigan intelligentsia, tilde bushwick salvia shabby chic. Venmo gluten-free wayfarers, VHS slow-carb godard seitan sriracha readymade. Four dollar toast bicycle rights dreamcatcher forage, gochujang bespoke kogi before they sold out. Locavore gastropub fixie, lo-fi gochujang keffiyeh jianbing heirloom poutine 90's cray. Helvetica austin heirloom, YOLO pok pok unicorn vice fashion axe distillery small batch wolf.</p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img src="./assets/img/placeholder.svg" alt="icon">
              <span>item 4</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                  <p>Tattooed ennui trust fund, photo booth cardigan hella pour-over. +1 meh flexitarian, you probably haven't heard of them whatever chillwave cliche selfies four dollar toast etsy copper mug tacos cold-pressed taxidermy vegan. 90's single-origin coffee small batch tilde polaroid affogato marfa, fixie knausgaard cold-pressed food truck.</p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img src="./assets/img/placeholder.svg" alt="icon">
              <span>item 5</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                <p>Chia forage 90's green juice live-edge thundercats godard, wayfarers waistcoat tote bag beard shabby chic taxidermy. Readymade cardigan intelligentsia, tilde bushwick salvia shabby chic. Venmo gluten-free wayfarers, VHS slow-carb godard seitan sriracha readymade. Four dollar toast bicycle rights dreamcatcher forage, gochujang bespoke kogi before they sold out. Locavore gastropub fixie, lo-fi gochujang keffiyeh jianbing heirloom poutine 90's cray. Helvetica austin heirloom, YOLO pok pok unicorn vice fashion axe distillery small batch wolf.</p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img  src="./assets/img/placeholder.svg" alt="icon">
              <span>item 6</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                <p>Messenger bag vaporware chicharrones selvage pour-over, unicorn hexagon edison bulb tattooed. Chia forage 90's green juice live-edge thundercats godard, wayfarers waistcoat tote bag beard shabby chic taxidermy. Readymade cardigan intelligentsia, tilde bushwick salvia shabby chic.</p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img src="./assets/img/placeholder.svg" alt="icon">
              <span>item 7</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                <p>Fanny pack food truck etsy church-key edison bulb, mixtape thundercats. Shabby chic literally DIY waistcoat kale chips meggings, freegan af fashion axe 3 wolf moon meditation cray. Lyft vegan lumbersexual kale chips. Kogi lumbersexual leggings, YOLO salvia banjo pinterest letterpress polaroid live-edge. Banjo pabst kinfolk, affogato succulents vinyl whatever typewriter retro health goth raclette truffaut williamsburg hot chicken. Pinterest chartreuse hammock readymade next level asymmetrical. </p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img  src="./assets/img/placeholder.svg" alt="icon">
              <span>item 8</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                  <p>Shabby chic literally DIY waistcoat kale chips meggings, freegan af fashion axe 3 wolf moon meditation cray. Lyft vegan lumbersexual kale chips. Kogi lumbersexual leggings, YOLO salvia banjo pinterest letterpress polaroid live-edge. Banjo pabst kinfolk, affogato succulents vinyl whatever typewriter retro health goth raclette truffaut williamsburg hot chicken. Pinterest chartreuse hammock readymade next level asymmetrical. </p>
                  <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img src="./assets/img/placeholder.svg" alt="icon">
              <span>item 9</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                <p>Shabby chic literally DIY waistcoat kale chips meggings, freegan af fashion axe 3 wolf moon meditation cray. Lyft vegan lumbersexual kale chips. Kogi lumbersexual leggings, YOLO salvia banjo pinterest letterpress polaroid live-edge. Banjo pabst kinfolk, affogato succulents vinyl whatever typewriter retro health goth raclette truffaut williamsburg hot chicken. Pinterest chartreuse hammock readymade next level asymmetrical. </p>
                <p>Fanny pack food truck etsy church-key edison bulb, mixtape thundercats. Shabby chic literally DIY waistcoat kale chips meggings, freegan af fashion axe 3 wolf moon meditation cray. Lyft vegan lumbersexual kale chips. Kogi lumbersexual leggings, YOLO salvia banjo pinterest letterpress polaroid live-edge. Banjo pabst kinfolk, affogato succulents vinyl whatever typewriter retro health goth raclette truffaut williamsburg hot chicken. Pinterest chartreuse hammock readymade next level asymmetrical. </p>
                <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
      <li class="expanding-cards__card">
          <div class="visible-card-info">
              <img src="./assets/img/placeholder.svg" alt="icon">
              <span>item 10</span>
          </div>
          <div class="card-drawer">
              <div class="card-drawer__content">
                <p>Fanny pack food truck etsy church-key edison bulb, mixtape thundercats. Shabby chic literally DIY waistcoat kale chips meggings, freegan af fashion axe 3 wolf moon meditation cray. Lyft vegan lumbersexual kale chips. Kogi lumbersexual leggings, YOLO salvia banjo pinterest letterpress polaroid live-edge. Banjo pabst kinfolk, affogato succulents vinyl whatever typewriter retro health goth raclette truffaut williamsburg hot chicken. Pinterest chartreuse hammock readymade next level asymmetrical. </p>
                <div class="close-drawer">Close</div>
              </div>
          </div>
      </li>
    </ul>
  </div>
</section>
