<footer class="footer">
    <div class="social">
        <a href="">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
         <a href="">
            <i class="fa fa-codepen" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
    <p class="copy">&copy; <span id="year">2017</span> Daniel Stephany</p>
</footer>