<header class="header">
        <div class='header__container'>
          <a href="#" class='header-logo'>
            <h1>DS</h1>
          </a>
          <div class="nav-toggle">
            <span></span>
          </div>
          <nav class="header-nav-container">
            <div class="mobile-nav-head">
              <h2>DS</h2>
              <div class="nav-close-toggle"></div>
            </div>
            <div class="header-main-nav-container">
              <ul class='header-main-nav'>
                <li class="header-main-nav__item">
                  <a class="subnav-toggle">Company
                    <i class="nav-arrow"></i>
                  </a>
                  <ul class='header-subnav'>
                    <li class="header-subnav__item">
                      <a href='#'>sub item 1</a>
                    </li>
                    <li class="header-subnav__item">
                      <a class="subnav-toggle">sub item 3
                         <i class="nav-arrow"></i>
                      </a>
                      <ul class='header-subnav2'>
                        <li class="header-subnav2__item ">
                          <a href='#'>sub2 item 1</a>
                        </li>
                        <li class="header-subnav2__item">
                          <a href='#'>sub2 item 2</a>
                        </li>
                        <li class="header-subnav2__item">
                          <a href='#'>sub2 item 3</a>
                        </li>
                      </ul>
                    </li>
                    <li class="header-subnav__item">
                      <a class="subnav-toggle">sub item 3
                        <i class="nav-arrow"></i>
                      </a>
                      <ul class='header-subnav2'>
                        <li class="header-subnav2__item ">
                          <a href='#'>sub2 item 1</a>
                        </li>
                        <li class="header-subnav2__item">
                          <a href='#'>sub2 item 2</a>
                        </li>
                        <li class="header-subnav2__item">
                          <a href='#'>sub2 item 3</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="header-main-nav__item">
                  <a class="subnav-toggle" href="#">About Us
                    <i class="nav-arrow"></i>
                  </a>
                  <ul class='header-subnav'>
                    <li class="header-subnav__item">
                      <a href='#'>sub item 1</a>
                    </li>
                    <li class="header-subnav__item">
                      <a class="subnav-toggle">sub item 3</a>
                    </li>
                    <li class="header-subnav__item">
                      <a class="subnav-toggle">sub item 3
                        <i class="nav-arrow"></i>
                      </a>
                      <ul class='header-subnav2'>
                        <li class="header-subnav2__item ">
                          <a href='#'>sub2 item 1</a>
                        </li>
                        <li class="header-subnav2__item">
                          <a href='#'>sub2 item 2</a>
                        </li>
                        <li class="header-subnav2__item">
                          <a href='#'>sub2 item 3</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="header-main-nav__item">
                  <a href="#">Contact</a>
                </li>
                <li class="header-main-nav__item">
                  <a href="#">Portfolio</a>
                </li>
                <li class="header-main-nav__item">
                  <a href="#">catalog</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
