$gray: #ddd;

.expanding-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  max-width: 1000px;
  padding: 20px 0 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  position: relative;
  &__card {
    display: inline-block;
    min-height: 20px;
    width: 20%;
    vertical-align: top;
    padding: 20px 10px 0px;
    transition: 0.35s ease-in-out ;
    @media (max-width: 992){ //md
     width: 25%;
    }
    @media (max-width: 768px){ //sm
      width: 33%;
    }
    @media (max-width: 480px){ //xs
      width: 50%;
      padding: 5px 5px;
    }
    span {
      font-size: 14px;
      min-height: 34px;
      @media (max-width: 480px){ //xs
        font-size: 12px;
        min-height: 30px;
      }
    }
  }
}
//fallback for browsers without flexbox support
.no-flexbox {
  .expanding-cards {
    display: block;
    &__card {
      width: 18%;
      @media (max-width: 1200px){ //lg
        width: 19%;
      }
      @media (max-width: 992px){ //md
        width: 23%;
      }
      @media (max-width: 768px){ //sm
        width: 31%;
      }
      @media (max-width: 480px){ //xs
        width: 44%;
        padding: 5px 5px;
      }
    }
  }
}

.visible-card-info {
  border-radius: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  position: relative;
  img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  span {
    display: inline-block;
    margin-top: 10px;
  }
}
.card-active {
  .visible-card-info {
    &:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      margin: 0 auto;
      border-top: 10px solid $gray;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
    }
  }
}

.card-drawer {
  border-radius: 20px;
  background: rgba(0,0,0,0.05);
  height: 0;
  position: absolute;
  left: 10px;
  right: 10px;
  height: 0;
  min-height: 0;
  margin-top: 20px;
  overflow: hidden;
  transition: 0.35s ease-in-out ;
  //text-align: left;
  &__content {
    padding: 40px;
    @media (max-width: 480px ){ //xs
      padding: 15px;
    }
    img {
      width: 100px;
      display: none;
    }
    p {
      margin-top: 10px;
      @media (max-width: 480px){ //xs
        font-size: 12px;
      }
    }
  }
  //.close-toggle {
  //  &:before,
  //  &:after {
  //    background: #000;
  //  }
  //}
  .close-drawer {
    display: block;
    cursor: pointer;
    @media (max-width: 480px){ //xs
      font-size: 14px;
    }
  }
}
